<div id="login-page" class="grid-x grid-padding-x align-center-middle background" style="height: 100vh;">
  <div class="cell large-3 medium-6 small-9 card">
    <form @submit.prevent="login">   
      <div class="" :class="{'has-error': email_message}">
        <label for="email" class="form-label">Email</label>
        <input id="email" :disabled="loading" class="form-input" type="text" v-model="email">
        <p class="help-text">{{ email_message }}</p>
      </div>
      <div class="" :class="{'has-error': password_message}">
        <label for="password" class="">Senha</label>
        <input id="password" :disabled="loading" class="form-input" type="password" v-model="password">
        <p class="text-center">{{ password_message }}</p>
      </div>
      <button type="submit" class="button expanded" :class="{disabled: !(password && email), loading: loading}"> Login </button>
      <div class="">
        <p class="text-center">Ainda não tem uma conta? <a v-bind:href="('registration')"> Cadastre-se </a></p>
      </div>
      <div class="">
        <p class="text-center">{{ message }}</p>
      </div>
    </form>
  </div>
</div>
