<div id="registration-page" class="panel page">
    <div class="panel-header">
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group" :class="{'has-error': name_message}">
                <label for="name" class="form-label">Nome</label>
                <input id="name" :disabled="loading" class="form-input" type="text" v-model="name">
            </div>            
            <div class="form-group" :class="{'has-error': email_message}">
                <label for="email" class="form-label">Email</label>
                <input id="email" :disabled="loading" class="form-input" type="text" v-model="email">
            </div>
            <div class="form-group" :class="{'has-error': password_message}">
                <label for="password" class="form-label">Senha</label>
                <input id="password" :disabled="loading" class="form-input" type="password" v-model="password">
            </div>          
            <button type="button" class="btn btn-primary btn-block" :class="{disabled: !(password && email), loading: loading}"> Criar conta </button>
            <p class="text-center">Já possui uma conta? <a v-bind:href="('login')"> Logar </a></p>
        </form>
    </div>
    <div class="panel-footer">
    </div>    
</div>
