<div id="registration-page" class="grid-x grid-padding-x align-center-middle background" style="height: 100vh;">
    <div class="cell large-3 medium-6 small-9 card">
        <form @submit.prevent="register">
            <div class="" :class="{'has-error': name_message}">
                <label for="name" class="form-label">Nome</label>
                <input id="name" :disabled="loading" class="" type="text" v-model="name">
            </div>            
            <div class="" :class="{'has-error': email_message}">
                <label for="email" class="form-label">Email</label>
                <input id="email" :disabled="loading" class="" type="text" v-model="email">
            </div>
            <div class="" :class="{'has-error': password_message}">
                <label for="password" class="form-label">Senha</label>
                <input id="password" :disabled="loading" class="" type="password" v-model="password">
            </div>          
            <button type="submit" class="button expanded" :class="{disabled: !(password && email), loading: loading}"> Criar conta </button>
            <p class="text-center">Já possui uma conta? <a v-bind:href="('login')"> Logar </a></p>
        </form>
    </div>
</div>
