.background {
  background-color: #F6F7F9;
}

.highlight{
  display: block;
  background-color: rgb(202, 70, 70);
}

.text-center {
  text-align: center;
}

.page {
  display: block;
  background-color: white;
  animation: fade 0.4s linear;
  margin: 10px 10px;
  max-width: calc(100vw - 20px);
  min-width: 800px;
  min-height: calc(100vh - 20px);
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.loading > * {
  filter: blur(1px);
}

@keyframes fade {
  0%   {
    -webkit-filter: blur(2px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}

#nav-menu {
  padding: 0;
}

.page-layout {
  height: calc(100vh - 20px);
}
.page-layout > .page-menu {
  width: 340px;
  height: 100%;
  float: left;
  border-right: 1px solid silver;
  overflow-y: auto;
}
.page-layout > .page-content {
  width: calc(100% - 340px);
  height: 100%;
  float: right;
  overflow-y: auto;
}

#welcome-page {
  background-image: url('/static/img/welcome.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
